
Projects/Project Demo/Sources/back-end/StudentAPI/.idea/.idea.StudentAPI/.idea/encodings.xml
Projects/Project Demo/Sources/back-end/StudentAPI/.idea/.idea.StudentAPI/.idea/indexLayout.xml
Projects/Project Demo/Sources/back-end/StudentAPI/.idea/.idea.StudentAPI/.idea/vcs.xml
Projects/Project Demo/Sources/back-end/StudentAPI/.idea/.idea.StudentAPI/.idea/workspace.xml
Projects/Project Demo/Sources/back-end/StudentAPI/.idea/.idea.StudentAPI/.idea/workspace.xml
Projects/Project Demo/Sources/back-end/StudentAPI/.idea/.idea.StudentAPI/.idea/dataSources.xml

Projects/Project Demo/Sources/back-end/StudentAPI/StudentBusiness/appsettings.json
